@import 'partials/colors';
@import 'partials/typography';



@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.Button {
	background: $button-bg;
	font-size: 14px;
	display: block;
	font-weight: 700;
	width: 100%;
	height: 40px;
	outline: 0;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
	font-family: $primary-font;
	border: none;
	position: relative;
	overflow: hidden;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
	line-height: 1.2;
	padding: 0 8px;
	float: left;
	transition:
		color 0.2s cubic-bezier(0.23, 1, 0.32, 1),
		border 0.2s cubic-bezier(0.23, 1, 0.32, 1),
		box-shadow 0.2s cubic-bezier(0.23, 1, 0.32, 1),
		background 0.2s cubic-bezier(0.23, 1, 0.32, 1);

	svg {
		fill: #fff;
	}

	&__Content {
		justify-content: center;
		vertical-align: middle;
		align-items: center;
		flex-direction: row;
		display: flex;
	}

	&:hover {
		background: lighten($button-bg, 5);
	}

	&:focus {
		background: lighten($button-bg, 10);
	}

	&--Margin {
		margin-top: 12px;
	}

	&--Tiny {
		height: 24px;
		max-width: 80px;

		.Icon {
			svg {
				width: 16px;
				height: 16px;
			}
		}
	}

	&--Auto {
		height: auto;
		max-width: auto;
		width: auto;
		float: none;
	}

	&--Small {
		height: 44px;
		max-width: 100px;
	}

	&--Large {
		height: 48px;
		border-radius: 24px;
		max-width: 200px;
	}

	&__Title {
		display: block;
		width: 100%;
		text-align: center;
	}

	&__Loader {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
	}

	&--Loading {
		.Button__Content {
			opacity: 0;
			visibility: hidden;
		}
	}

	&--Disabled {
		color: rgba(255, 255, 255, 0.4);
		background: lighten($button-bg, 20);
		cursor: not-allowed;

		&:hover {
			background: lighten($button-bg, 20);
		}
	}
}

.Button--Plain {
	height: auto;
	max-width: 100%;
	width: auto;
	background: transparent;
	padding: 3px 4px;
	border-radius: 3px;
	margin: 0 -3px;
	box-shadow: none;
	color: $primary;
	overflow: visible;
	display: inline-block;
	float: none;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0px;
	text-transform: none;
	white-space: normal;
	word-wrap: break-word;

	&:hover {
		background: transparent;
		color: darken($primary, 10);
	}

	&:focus {
		background: transparent;
		box-shadow: none;
	}

	.Button--Disabled {
		background: transparent;
	}

	.Button__Loader {
		border-color: rgba($primary, 0.4);
		border-bottom-color: transparent;
		width: 20px;
		height: 20px;
		margin: -10px 0 0 -10px;
	}

	&.Button--Disabled {
		color: darken($primary, 20);

		&:hover {
			color: darken($primary, 20);
		}
	}
}

.Button--Facebook {
	background: $facebook;

	.Icon {
		display: block;
		float: none;
		margin-right: 12px;
		position: relative;

		svg {
			width: 20px;
			height: 20px;
		}
	}

	span {
		line-height: 20px;
	}

	.Button__TitleFacebook {
		// padding-top: 2px;
	}

	&:hover {
		background: lighten($facebook, 3);
	}

	&:focus {
		background: lighten($facebook, 6);
	}
}

.Button--Secondary {
	background: $button-secondary-bg;

	&:hover {
		background: lighten($button-secondary-bg, 10);
	}

	&:focus {
		background: lighten($button-secondary-bg, 15);
	}

	&--Disabled {
		color: rgba(255, 255, 255, 0.4);
		background: lighten($button-secondary-bg, 24);
		cursor: not-allowed;

		&:hover {
			background: lighten($button-secondary-bg, 24);
		}
	}
}

.Button--Danger {
	background: $button-danger-bg;

	&:hover {
		background: lighten($button-danger-bg, 3);
	}

	&:focus {
		background: lighten($button-danger-bg, 6);
	}

	&--Disabled {
		color: rgba(255, 255, 255, 0.4);
		background: lighten($button-danger-bg, 10);
		cursor: not-allowed;

		&:hover {
			background: lighten($button-danger-bg, 10);
		}
	}
}

.Button--Light {
	padding: 9px 24px;
	color: $primary;
	font-size: 12px;
	background: rgba($primary, 0.1);
	border-radius: 16px;
	margin: 0 0 0 8px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:hover {
		background: rgba($primary, 0.1);
		color: lighten($primary, 10);
	}

	&:focus {
		background: rgba($primary, 0.2);
	}
}

.Button--Ghost {
	border: 1px solid rgba($primary, 0.3);
	background: transparent;
	color: $primary;
	box-shadow: 0px 2px 2px rgba(#000000, 0.1);

	&:hover {
		background: transparent;
		border-color: rgba($primary, 0.6);
	}

	.Button__Loader {
		border: 1px solid $primary;
		border-bottom-color: transparent;
	}
}
