@import "partials/colors";


.Logo {
	float: left;
	transition:
		opacity 0.2s ease-out;

	svg {
		height: 44px;
		display: block;
		fill: $tertiary;
	}

	&--White {
		svg {
			fill: #fff;
		}
	}

	&:hover {
		opacity: 0.7;
	}
}