// --------------------------------------------
// grid

$phone: 521px;
$tablet: 691px;
$desktop: 1080px;
$tv: 1600px;

/*

// ---------------------- phone mediaq
@include media($phone) {
}
// ---------------------- tablet mediaq
@include media($tablet) {
}
// ---------------------- desktop mediaq
@include media($desktop) {
}

*/
